[Desktop Entry]
Type=Application
Version=1.1
Name=Install Linux Leptocline
GenericName=System Installer
Comment=Install Leptocline to this computer
Exec=pkexec calamares
Icon=leptocline
Terminal=false
Categories=System;
Keywords=install;calamares;disk;setup;
